$primary:       #ff1e00 !default;
$danger:        #290500 !default;
$secondary:     #1d1313 !default;
$light:     	#718191 !default;
$white:     	#F5F0F6 !default;
$dark:     		#000000 !default;
$success: 		#61A888 !default;

$popover-bg:                        $dark !default;

$popover-body-color:                $white !default;
$enable-responsive-font-sizes: 		true;


@import "./bootstrap-4.5.3/scss/bootstrap";
