{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}
    <main role="main">
        <div class="container marketing">


            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10 text-center">
                    <h2 class="text-white my-5">These Are Not the Droids You Are Looking For</h2>
                    <i class="fa-solid fa-user-ninja fa-9x bd-placeholder-img rounded-circle text-primary" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false"><title>Ninja</title></i>

                    <p class="text-white my-5">We are in stealth mode, but if you cannot restrain your curiosity, you can contact us at</p>
                    <h2 class="lead text-white"><a href="mailto:openmagnetics@protonmail.com" class="text-success">openmagnetics@protonmail.com</a> </h2>
                </div>
                <div class="col-lg-1">
                </div>
            </div><!-- /.row -->



        </div><!-- /.container -->


        <!-- FOOTER -->
        <footer class="container navbar fixed-bottom">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© 2022-<?php echo date("Y"); ?> Open Magnetics</p>
            <!-- <p>© 2022-<?php echo date("Y"); ?> Open Magnetics · <a href="#">Privacy</a> · <a href="#">Terms</a></p> -->
        </footer>
    </main>
{% endblock %}



<style type="text/css" media="screen">


</style>
